---
layout: default
title: August
sub-title: We make websites, optimize them for search and market them.  
cta: More
bg-color: white

fg-color: primary
---

<!-- <div class="verticle-line"></div> -->

        <section id="services">
                <div class="wrapper box-shadow-large bordered-top">
                        <div class="padding-top-bottom pure-g align-center ">
                                <div class="pure-u-1 ">
                                        <h2 class="text-primary header">Our Services</h2>
                                        <h4>We make websites, optimize them for search and market them. Yup. We do it all!
                                        </h4>                                       
                                </div>
                               
                        </div>
                        {% include allServices.html %}
                   
                </div>

        </section>

<div class="verticle-line"></div>

<section id="freeAudit pure-g ">
        <div class="wrapper box-shadow-large center bordered-top">
                <div class="pure-u-1 align-center  ">
                        <h2 class="text-primary header">Help google find you! </h2>
                        </div>
                
                <div class="pure-u-1 float-right">
                        {% include quickAudit.html %}
                </div>
        </div>
</section>

<div class="verticle-line"></div>
<div class="showcase">
       
        <div class="rotated-box coolBlue"></div> 
      
        <section id="work">
                        <div class="wrapper box-shadow-large bordered-top">
                                        <div class="padding-top-bottom pure-g align-center ">
                                                <div class="pure-u-1 ">
                                <h2 class="header">Our Latest
                                        <span class="text-primary">Work</span>
                                </h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore</p>
                                {% include allWork.html featured=true %}
                        </div>
                </div>
               
        </div>
        </section>
      
        <div class="rotated-box yellow"></div>
</div>