---
layout: default
title: test
sub-title: We make websites, optimize them for search and market them. Yup. We do
  it all!
cta: Click
bg-color: white
fg-color: primary
---

<!-- <div class="verticle-line"></div> -->
<div class="showcase">
        <div class="rotated-box yellow"></div>
        <div class="rotated-box pink"></div>
        <section id="services">
                <div class="wrapper box-shadow-large bordered-top">
                        <div class="pure-g  align-center ">
                                <div class="pure-u-1 ">
                                        <h1 class="text-primary ">Our Services</h1>
                                        <h4>We make websites, optimize them for search and market them. Yup. We do it all!
                                        </h4>
                                       
                                </div>
                               
                        </div>
                        {% include allServices.html %}
                       
                </div>

        </section>
        <div class="rotated-box coolBlue"></div>
</div>

<div class="verticle-line"></div>

<section id="freeAudit">
        <div class="pure-g  wrapper box-shadow-large center bordered-top">
                <div class="pure-u-1">
                        <h2 class="align-center text-primary">Get a free Audit for your website now!</h2>
                <!-- </div>
                <div class="pure-u-2-3 float-right"> -->
                        {% include quickAudit.html %}
                </div>
        </div>
</section>

<div class="verticle-line"></div>
<div class="showcase">
        <div class="rotated-box royalBlue"></div>
        <div class="rotated-box coolBlue"></div>
        <section id="work" class=" wrapper box-shadow-large  bordered-top">
                <div class="pure-g align-center">
                        <div class="pure-u-1">
                                <h1>Our Latest
                                        <span class="text-primary">Work</span>
                                </h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore</p>
                                {% include allServices.html %}
                        </div>
                </div>
                <div class="pure-g">
                        <div class="pure-u-1">
                                <h3>First we make your website...</h3>
                        </div>
                </div>
                <div class="pure-g align-center center">
                        <div class="pure-u-1-2 box thinBorder ">Web Design</div>
                        <div class="pure-u-1-2 box thinBorder">Web Develpment</div>

                </div>


        </section>
        <div class="rotated-box pink"></div>
        <div class="rotated-box yellow"></div>
</div>