---
layout: default
title: We are August
sub-title: We make websites, optimize them for search and market them.
        Yup. We do it all!
cta: You in?    
bg-color: white 
fg-color: primary 
---

<!-- <div class="verticle-line"></div> -->
<div class="showcase">
        <div class="rotated-box yellow"></div>
        <div class="rotated-box pink"></div>
        <section id="services">
                <div class="wrapper box-shadow-large bordered-top">
                        <div class="pure-g  align-center ">
                                <div class="pure-u-1 ">
                                        <h1 class="text-primary ">Our Services</h1>
                                        <h4>We make websites, optimize them for search and market them. Yup. We do it all!
                                        </h4>
                                        {% include allServices.html %}
                                </div>
                        </div>
                        <!-- <div class="pure-g">
                                <div class="pure-u-1">
                                        <h3>First we make your website...</h3>
                                </div>
                        </div> -->
                        <div class="pure-g align-center">
                                <div class="pure-u-1-3 box box-shadow text-primary bg-yellow">
                                        <h4>Web Design
                                                <br>and
                                                <br>Web Development</h4>
                                </div>

                                <div class="pure-u-2-3 box box-shadow ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus inventore quibusdam nesciunt,
                                        odio corporis dolores est soluta quis sint saepe?</div>

                        </div>
                        <!-- <div class="pure-g">
                                <div class="pure-u-1 align-right">
                                        <h3>..then we optimize it for the web</h3>
                                </div>
                        </div> -->
                        <div class="verticle-line"></div> 
                        <div class="pure-g align-center center">
                                <div class="pure-u-1-3 bg-pink txt-white box box-shadow ">Search Engine Optimization<br>and<br>Search Engine Marketing</div>
                                <div class="pure-u-2-3 box box-shadow ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus inventore quibusdam nesciunt,
                                                odio corporis dolores est soluta quis sint saepe?</div>

                        </div>
                        <!-- <div class="pure-g">
                                <div class="pure-u-1">
                                        <h3>and now we let the world know.</h3>
                                </div>
                        </div> -->
                        <div class="verticle-line"></div> 
                        <div class="pure-g align-center center">
                                <div class="pure-u-1-3  bg-coolBlue txt-white box box-shadow  ">Digital Marketing<br>and<br>Branding</div>
                                <div class="pure-u-2-3  box box-shadow">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus inventore quibusdam nesciunt,
                                                odio corporis dolores est soluta quis sint saepe?</div>

                        </div>
                </div>

        </section>
        <div class="rotated-box coolBlue"></div>
</div>

<div class="verticle-line"></div>

<section id="freeAudit">
        <div class="pure-g  wrapper box-shadow-large center bordered-top">
                <div class="pure-u-1">
                        <h2 class="align-center text-primary">Get a free Audit for your website now!</h2>
                <!-- </div>
                <div class="pure-u-2-3 float-right"> -->
                        {% include quickAudit.html %}
                </div>
        </div>
</section>

<div class="verticle-line"></div>
<div class="showcase">
        <div class="rotated-box royalBlue"></div>
        <div class="rotated-box coolBlue"></div>
        <section id="work" class=" wrapper box-shadow-large  bordered-top">
                <div class="pure-g align-center">
                        <div class="pure-u-1">
                                <h1>Our Latest
                                        <span class="text-primary">Work</span>
                                </h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore</p>
                                {% include allServices.html %}
                        </div>
                </div>
                <div class="pure-g">
                        <div class="pure-u-1">
                                <h3>First we make your website...</h3>
                        </div>
                </div>
                <div class="pure-g align-center center">
                        <div class="pure-u-1-2 box thinBorder ">Web Design</div>
                        <div class="pure-u-1-2 box thinBorder">Web Develpment</div>

                </div>


        </section>
        <div class="rotated-box pink"></div>
        <div class="rotated-box yellow"></div>
</div>