---
layout: default
---

<section class="pure-g align-center Jumbotron text-primary box">
        <div class="pure-u-1">
        <h1>We are August
       </h1>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, nobis.</p>
        <!-- <p>We design and develop wesbites</p>
        <p>Then we rank your website</p>
        <p>We brand your company</p>
        <p>We market your company on social media</p> -->

       
            <a href="#one" class="button buttonOutline">Learn More</a></li>
    
</div>
</section>
<div class="skew"></div>
<div class="verticle-line"></div>
<section id="freeAudit" class="box small center pure-g">
 <h2 class="align-center">Get a free Audit for your website now!</h2> 
        {% include quickAudit.html %}
   
</section>
<section id="services" class="box pure-g">
   
        <!-- {% include quickAudit.html %} -->
   
</section>
