
    {% for service in site.services %}
    <div class="margin-small grid">

        <div class="sticky">                   
            <img src="{{ site.baseurl }}{{ service.backgroundimage }}" alt="{{ service.title }}" class="pure-img contain" >
        </div>

        <div class="box non-sticky margin-small">
                <h3 class="text-primary ">                    
                        <a href="{{ site.baseurl }}{{ service.url }}" class="fg-{{service.fg-color}} header"><b>{{ service.title }}</b></a>
                        
                    </h3>
           <p> {{ service.description }}</p>
            <div class="box">
                    <h5 class="text-primary">                    
                            <a href="{{ site.baseurl }}{{ service.url }}" class="button button-cta">Know More</a>
                            
                        </h5>
                </div>
            </div>
          
    </div>
    
    {% endfor %}
