{% assign featured =  include.featured %}


    <div class="aug-masonary">
    {% for work in site.work %}  
            <div class="aug-card box-shadow">
                    <img src="{{ site.baseurl }}{{ work.featuredimg }}" alt="{{ work.title }}" class="pure-img" >
                    <div class="caption">
                    <h4> <a href="{{ site.baseurl }}{{ work.url }}" class="fg-{{work.fg-color}} header"><b>{{ work.title }}</b></a></h>
            
            </div>

            </div>
       
        {% endfor %}
    </div>