<!-- not yet used anywhere- added for future refactoring -->

<section id="services">
        <div class="wrapper box-shadow-large bordered-top">
                <div class="padding-top-bottom pure-g align-center ">
                        <div class="pure-u-1 ">
                                <h1 class="text-primary header">Our Services</h1>
                                <h4>We make websites, optimize them for search and market them. Yup. We do it all!
                                </h4>                                       
                        </div>
                       
                </div>
                {% include allServices.html %}
           
        </div>

</section>