<div id="Enquiry">
    <h2 class="text-white">Journey Enquiries</h2>
    <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquid voluptatum provident, cumque ab aperiam sed ullam quo sint ut voluptate quis adipisci, rerum quibusdam. Laudantium sint, molestias veritatis est neque, minima debitis officiis ea magni reprehenderit eum aperiam nulla repellat natus minus ducimus quos soluta saepe vel, adipisci enim animi! Distinctio sunt expedita quidem ipsam odio rerum illo quos nisi! Nam suscipit temporibus error voluptate non eos. Nobis ullam libero dolore maiores incidunt perferendis ut non sunt esse omnis optio, doloribus laboriosam dolores similique saepe eius magni vero recusandae?
    </p>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSe0mXLZziKAcSMLh3zj0UEt7puGe4knoQXkQxBDo_tucgztYg/formResponse">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="entry.172175706" class="form-control" placeholder="Enter name">

                    <label for="email_address" class="margin-top-small">Email Address</label>
                    <input id="email_address" type="text" name="emailAddress" class="form-control" placeholder="Enter email">
                </div>
                <div class="col-md-6">
                    <label for="message">Message</label>
                    <textarea id="message" name="entry.899061271" class="form-control" placeholder="Enter message"></textarea>

                </div>
            </div>
            <input type="submit" value="Send Message" class="col-md-3">
        </div>
    </form>
</div>

