<div id="Enquiry">
    <h1>Get in touch!</h1>
    <p>
      Come on, tell us your crazy idea. Let us make it together.
    </p>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSe0mXLZziKAcSMLh3zj0UEt7puGe4knoQXkQxBDo_tucgztYg/formResponse" class="pure-form pure-form-stacked">
       <fieldset>
            <div class="pure-control-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="entry.172175706" class="form-control" placeholder="Enter name">
                </div>
                <div class="pure-control-group">
                    <label for="email_address" class="margin-top-small">Email Address</label>
                    <input id="email_address" type="text" name="emailAddress" class="form-control" placeholder="Enter email">
            </div>
            <div class="pure-control-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="entry.899061271" class="pure-u-23-24" placeholder="Enter message"></textarea>
</div>
<div class="pure-controls">
            <input type="submit" value="Send Message" class="button button-cta box-shadow">
            </div>
        </fieldset>
    </form>
</div>

