<div>
    <h1>Get in touch!</h1>
    <p>
      Come on, tell us your crazy idea. Let us make it together.
    </p>
    <form action="{{ site.contact_action }}" 
    class="pure-form pure-form-stacked">
       <fieldset>
            <div class="pure-g">
                    <div class="pure-u-1">
                    <label for="name">Name</label>
                    <input id="name" type="text" 
                    name="entry.2054420382" 
                    class="form-control" placeholder="Enter name" class="pure-u-23-24" 
                    >
                </div>
                <div class="pure-u-1">
                    <label for="email_address"
                     class="margin-top-small">Email Address</label>
                    <input id="email_address" type="text" 
                    name="emailAddress" class="form-control"
                     placeholder="Enter email" class="pure-u-23-24"
                     >
            </div>
            <div class="pure-u-1">
                    <label for="message">Message</label>
                    <textarea id="message" name="entry.147879332" 
                    class="pure-u-23-24" 
                    placeholder="Enter message"></textarea>
</div>
           
<div class="pure-controls">
            <input type="submit" value="Send Message" 
            class="button button-cta box-shadow">
            </div>
        </div>
        </fieldset>
    </form>
</div>

