<form action="https://docs.google.com/forms/d/e/1FAIpQLSe0mXLZziKAcSMLh3zj0UEt7puGe4knoQXkQxBDo_tucgztYg/formResponse">

    <div class="form-group">
            <div>
        <!-- <div class="pure-g"> -->
            <div>
            <!-- <div class="pure-u-sm-1 pure-u-1-3"> -->
                <label for="name">Name</label>
                <input id="name" type="text" name="entry.172175706" class="form-control" placeholder="Enter name">
            </div>
            <div>
            <!-- <div class="pure-u-sm-1 pure-u-1-3"> -->
                <label for="email_address" class="margin-top-small">Email Address</label>
                <input id="email_address" type="text" name="emailAddress" class="form-control" placeholder="Enter email">
            </div>
            
            <!-- <div class="pure-u-sm-1 pure-u-1-3"> -->
                <label for="websiteUrl">URL</label>
                <input id="url" type="text" name="entry.172175706" class="form-control" placeholder="Enter url">

            </div>
        </div>
  
        <input type="submit" value="Audit!" class="button buttonOutline-dark center">
    </div>

</form>