<form action="{{ site.audit_action }}" class="pure-form pure-form-stacked">
    <fieldset>
        <div class="pure-g text-primary padding-top-bottom">
                <div class="pure-u-1 pure-u-md-1-3">
                <label for="name">Name</label>
                <input id="name" type="text" 
                name="entry.1379815128" 
                class="pure-u-23-24" placeholder="Enter name">
                </div>
                <!-- <div class="pure-g"> -->
            <!-- </div> -->
            <!-- <div class="pure-u-sm-1 pure-u-1-3"> -->
            <!-- <div class="pure-u-1-2 pure-u-md-1-3"> -->

                <!-- <div class="pure-u-sm-1 pure-u-1-3"> -->
                        <div class="pure-u-1 pure-u-md-1-3">
                <label for="email_address">Email Address</label>
                <input id="email_address" type="email" name="emailAddress" class="pure-u-23-24" placeholder="Enter email">
          </div>
            <div class="pure-u-1 pure-u-md-1-3"> 
                <!-- <div class="pure-u-sm-1 pure-u-1-3"> -->
                <label for="websiteUrl">URL</label>
                <input id="url" type="text" name="entry.70998807" class="pure-u-23-24" placeholder="Enter url">

            </div>

        
        </div>
        <div class="margin-small pure-g">
            <input type="submit" value="Audit!" class="button center button-cta margin-small">
        </div>
        
    </fieldset>
</form>