// Reusable styles..Delete the ones not needed


///
/// Story by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///


.triangles
{ 
position:absolute;
width:100%;
height: 100%;
}
.triangles li{
list-style:none;
left:10px;
bottom: -150px;
display:block;

width: 0; 
height: 0; 
border-left: 50px solid transparent; 
border-right: 50px solid transparent;
border-bottom: 100px solid red;
animation: bubble 20s linear infinte;
 }

 .triangles li:nth-child(1)
 {
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent;
    border-bottom: 100px solid red;
    opacity: 0.7;
    animation-delay: 0s; 
    position: absolute;
    left:40%;
 }

 .triangles li:nth-child(2)
 {
    border-left: 70 solid transparent; 
    border-right: 70 solid transparent;
    border-bottom: 70 solid red;
    opacity: 0.3;
    animation-delay: 2s; 
    position: absolute;
    left:80%;
 }
 .triangles li:nth-child(3)
 {
    border-left: 50px solid transparent; 
    border-right: 50px  solid transparent;
    border-bottom: 50px  solid red;
    opacity: 0.3;
    animation-delay: 5s; 
    position: absolute;
    left:60%;
 }
 .triangles li:nth-child(3)
 {
    border-left: 50px solid transparent; 
    border-right: 50px  solid transparent;
    border-bottom: 50px  solid red;
    opacity: 0.3;
    animation-delay: 5s; 
    position: absolute;
    left:60%;
 }
 .triangles li:nth-child(4)
 {
    border-left: 60px solid transparent; 
    border-right: 60px  solid transparent;
    border-bottom: 60px  solid red;
    opacity: 0.6;
    animation-delay: 7s; 
    position: absolute;
    left:40%;
 }
 .triangles li:nth-child(4)
 {
    border-left: 50px solid transparent; 
    border-right: 50px  solid transparent;
    border-bottom: 50px  solid red;
    opacity: 0.3;
    animation-delay: 5s; 
    position: absolute;
    left:30%;
 }

 @keyframes bubble
 {
     from
     {
         transform :translateY(10) rotate(0);
         opacity: 1;
     }
     to
     {
        transform :translateY(-1000px) rotate(720deg);
         opacity: 0.4; 
     }
 }

.margin-small
{
    margin:20px;
}
.box-shadow
{
    box-shadow: $box-shadow;
}

.box-shadow-large
{
    box-shadow: 0 1rem 4rem 0.125rem rgba(161, 177, 204, 0.325);
}
.button{
    padding:1em;
    cursor:pointer;
    text-decoration: none;
    background: transparent;
    
}
.buttonOutline
{
   
    border: 1px solid $fg;
    
    color:$fg;
    
}
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}
.buttonOutline-dark
{
   
    border: 1px solid $brand-primary;    
    color:$brand-primary;
    
}
.border-bottom-thin {
    border-bottom: 2px solid $border-bg;
}

.border-bottom-thick {
    border-bottom: 5px solid $border-bg;
}

.fullWidth {
    width: 100%
}

.thinBorder {
    border: 1px solid $brand-primary ;
}

.jumboHeight {
    height: 400px;
}

.fixedNav {
    position: fixed;
}

.fixedBackground {
    position: fixed;
    background-image: linear-gradient(160deg, #02ccba, #aa7ecd);
    z-index: 0;
    top: 0;
    left: 0;
}

.text-center {
    text-align: center;
}

.light-section {
    background-color:$fg;
    box-shadow: inset 0px 15px 15px -15px rgba(100, 100, 100, 0.2);
}

.dark-section {
    background-color:$bg-linear-left;
    color: $fg;
    box-shadow: inset 0px 15px 15px -15px rgba(0, 0, 0, 0.5);
    a {
        color: #efefef;
        transition: color 0.2s ease;
        &:hover {
            color: #fefefe;
        }
    }
}

.bg-main {
    background-color: #fff;
}

.txt-white {
    color: #FFFFFF;
}

.txt-gray {
    color: #ddd !important;
}

.bg-black {
    background-color: #333;
}

.bg-gray {
    background-color: #ddd;
}

.bg-white {
    background-color: #FFFFFF;
}

.de-bg-primary {
    background-color: $brand-primary;
}

.bg-secondary {
    background-color: $brand-secondary;
} //Effects
.parallax {
    width: 100%;
    height: 400px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
} //Common
.separator {
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}

.separator-line {
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}

.separator.separator-gray {
    background-color: #EEEEEE;
}

hr {
    border-color: #F1EAE0;
} //text effects
.title-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: #DDDDDD;
}

.text-primary,
.text-primary:hover {
    color: $brand-primary !important;
}

.text-secondary,
.text-secondary:hover {
    color: $brand-secondary !important;
}

.text-info,
.text-info:hover {
    color: $brand-secondary !important;
}

.text-success,
.text-success:hover {
    color: rgb(66, 133, 160) !important;
}

.text-warning,
.text-warning:hover {
    color: rgb(240, 225, 15) !important;
}

.text-danger,
.text-danger:hover {
    color: rgb(207, 127, 98) !important;
}

.center {
    float: none;
    margin: 0 auto; // width: 80%;
}

.has-overlay {
    background-image: url("../images/overlay-6.png");
    background-position: top;
    background-size: cover;
}

.normal-text a {
    text-decoration: none;
    color: $brand-primary;
    & a:hover {
        text-decoration: none;
        color: $brand-primary;
    }
}

.normal-text-white a {
    text-decoration: none;
    color: #DDDDDD;
    & :hover {
        text-decoration: none;
        color: #FFFFFF;
    }
}

/* Box */

.box {
    padding: 3em  0.3em;
    background-color: #fff;
    color: $fg-light-bg;
    margin-bottom: $element-margin;
    position: relative;
   
    // display: flex;
    // justify-content: center;
    

    &:before, &:after {
        content: '';
        display: block;
        height: 4px;
        position: absolute;
        right: 0;
        width: 100%;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }

    &.small
    {
        width :80vw;
        padding: 0.2em  0.2em;
        @media screen and ($small){
            width :100vw;
        }
    }
    
    


    &.alt {
        border-radius: 0;
        padding: 0;
    }

    &.big {
         padding:7em, 3.5em;

        > header.major {
            padding: 0 0 5em;
        }
    }

    .image.full {
        margin-bottom: 3em;
        margin-left: -2em;
        width: calc(100% + (2em * 2));

        img {
            width: 100%;
        }
    }

    > .image.full:first-child {
        margin-top: -3em;
    }
}
