
// .pure-u-md-1-3 {
//     border: 2px solid red;
// }
// .pure-u-sm-1
// {
//     border: 2px solid blue;
// }
// .pure-g
// {
//     border: 5px solid black;
// }
.margin-small
{
    margin:20px;
}
.box-shadow
{
    box-shadow: $box-shadow;
}

.box-shadow-large
{
    box-shadow: 0 1rem 4rem 0.125rem rgba(161, 177, 204, 0.325);
}
.button{
    padding:0.5em 1em;
    cursor:pointer;
    font-size: 1.2em;
    font-weight: $font-weight-bold;
    text-decoration: none;
    background: transparent;
    border-radius: 3.92857em;
    margin: 1em 0em ;
}
.button.special {
    box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
    background-color: #5ab7bd;
    color: #ffffff !important;
}
.box-info
{
  font-size: 1.2em;
  padding :20px;
  width:300px;
  height: 300px;
  
    
}
.buttonOutline
{   
    border: 2px solid $fg;
    
    color:$fg;
    
}
.buttonOutline-primary
{   
    border: 2px solid $brand-primary;
    
    color:$brand-primary;
    
}
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}
.buttonOutline-dark
{
   
    border: 1px solid $brand-primary;    
    color:$brand-primary;
    
}
.button-cta
{
   
    border: 1px solid $fg;    
    color:$fg;
    background-color: $brand-primary;
    
}
.border-bottom-thin {
    border-bottom: 2px solid $border-bg;
}

.border-bottom-thick {
    border-bottom: 5px solid $border-bg;
}

.fullWidth {
    width: 100%
}

.thinBorder {
    border: 1px solid $brand-primary ;
}
.thinBorder-fg {
    border: 1px solid $fg ;
}

.jumboHeight {
    height: 400px;
}

.fixedNav {
    position: fixed;
}

.padding-top-bottom
{
   
    padding:1.5em 0em;
}

.padding-left-right
{
    padding:0em 1.5em ;
}
.padding-small
{
     
    padding:1.5em 1.5em;
}

.text-center {
    text-align: center;
}

.light-section {
    background-color:$fg;
   
}

.dark-section {
    background-color:$bg-linear-left;
    color: $fg;
    box-shadow: inset 0px 15px 15px -15px rgba(0, 0, 0, 0.5);
    a {
        color: #efefef;
        transition: color 0.2s ease;
        &:hover {
            color: #fefefe;
        }
    }
}

.bg-main {
    background-color: #fff;
}
.bg-gradient {
    background: $background-linear;
}

.txt-white {
    color: #FFFFFF;
}
.txt-fg {
    color: $fg;
}

.txt-gray {
    color: #ddd !important;
}
.txt-primary {
    color: $brand-primary !important;
}

.bg-black {
    background-color: #333;
}

.bg-gray {
    background-color: #ddd;
}

.bg-white {
    background-color: rgba(255,255,255,0.5)
}

.bg-primary {
    background-color: $brand-primary;
    opacity: 0.9;
}
.bg-yellow
{
    background-color:$bg-yellow;
    opacity: 0.9;
   // transition: border 1s ease-in;
}
// .bg-yellow:hover
// {
//    border: 5px solid $bg-yellow;
//    color:   $fg-light-bg;
//    background: transparent;

// }

.bg-pink
{
    background-color:$bg-pink;
    opacity: 0.8;

}
.bg-coral
{
    background-color:$bg-coral;
    opacity: 0.8;

}
.bg-golden
{
    background-color: $bg-golden;
    opacity: 0.8;
}
.bg-coolBlue
{
    background-color: $bg-coolBlue;
    opacity: 0.8;
}

.bg-secondary {
    background-color: $brand-secondary;
} //Effects
.parallax {
    width: 100%;
    height: 400px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
} //Common
.separator {
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}

.separator-line {
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}

.separator.separator-gray {
    background-color: #EEEEEE;
}

hr {
    border-color: #F1EAE0;
} //text effects
.title-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: #DDDDDD;
}

.text-primary,
.text-primary:hover {
    color: $brand-primary !important;
}

.text-secondary,
.text-secondary:hover {
    color: $brand-secondary !important;
}

.text-info,
.text-info:hover {
    color: $brand-secondary !important;
}

.text-success,
.text-success:hover {
    color: rgb(66, 133, 160) !important;
}

.text-warning,
.text-warning:hover {
    color: rgb(240, 225, 15) !important;
}

.text-danger,
.text-danger:hover {
    color: rgb(207, 127, 98) !important;
}

.center {
    float: none;
    margin: 0 auto; // width: 80%;
}

.has-overlay {
    background-image: url("../images/overlay-6.png");
    background-position: top;
    background-size: cover;
}

.normal-text a {
    text-decoration: none;
    color: $brand-primary;
    & a:hover {
        text-decoration: none;
        color: $brand-primary;
    }
}

.normal-text-white a {
    text-decoration: none;
    color: #DDDDDD;
    & :hover {
        text-decoration: none;
        color: #FFFFFF;
    }
}

/* Box */

.box {
    padding: 3em  0.3em;
    // background-color: transparent;
    // color: $fg;
    margin-bottom: $element-margin;
    // position: relative;
    // -moz-box-sizing: border-box;
    // box-sizing:border-box;
   
    // display: flex;
    // justify-content: center;
    

    // &:before, &:after {
    //     content: '';
    //     display: block;
    //     height: 4px;
    //     position: absolute;
    //     right: 0;
    //     width: 100%;
    // }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }

    &.small
    {
        width :80vw;
        padding: 0.2em  0.2em;
        @media screen and ($small){
            width :100vw;
        }
    }
    
    


    &.alt {
        border-radius: 0;
        padding: 0;
    }

    &.big {
         padding:7em, 3.5em;

        > header.major {
            padding: 0 0 5em;
        }
    }

    .image.full {
        margin-bottom: 3em;
        margin-left: -2em;
        width: calc(100% + (2em * 2));

        img {
            width: 100%;
        }
    }

    > .image.full:first-child {
        margin-top: -3em;
    }
}
.border-right-thin {
    border-right:5px solid $bg-yellow;
}
// #services
// {
//     position: absolute;
//     top:0;
//     left:0;
// }


// section{
//     position: relative;
//     content: "";
//     width: 100%;
//     height: 500px;
//     z-index: -1000;
//     background: linear-gradient(160deg,#02ccba,#aa7ecd);
//     -webkit-transform-origin: left bottom;
//     transform-origin: left bottom;    
//     top: 80%;
//     left: 0;
// }
// section::before
// {
//     content: "";
// width: 100%;
// height: 660px;
// z-index: -1000;
// background: linear-gradient(160deg,#02ccba,#aa7ecd);
// -webkit-transform-origin: left bottom;
// transform-origin: left bottom;
// position: absolute;
// top: 0;
// left: 0;
// }

.thumbnail {
    border-top: 6px solid $brand-secondary;
    background-color: #fff;
    margin: 0 1rem 0 0;
    box-shadow: 5px 5px 20px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
    padding: 0 1.5rem 3rem;
  
}

//alignment

.text-align-left
{
    text-align: left;
}
