// #main
// {
//   position:relative;
// }
.showcase
{
  position: relative;
}
.rotated-box
{
  width:40%;
  height:50%;
  border-radius:6px;
  // transform: rotate(45deg);
  position: absolute; 
  z-index:-10;
  opacity: 0.8;

&.pink
{
  transform: rotate(40deg);  
  bottom:30%;
  right:60%;
  z-index:-10;
  background-color:$bg-pink;
 
}
&.yellow
{
  transform: rotate(60deg);
  top:40%;
  left:0;
  z-index:-10;
  background-color:$bg-yellow;

}
&.coolBlue
{
  transform: rotate(30deg);
  
  top:auto;
  bottom:0;
  left:50%;
  z-index:-10;
  background-color:$bg-coolBlue;

}
&.royalBlue
{
  transform: rotate(20deg);
  bottom:40%;
  left:0;
  z-index:-10;

  background-color:$bg-royalBlue;

}
}
.triangles
{ 
position:absolute;
width:100%;
height: 100%;
z-index: -3;
opacity: 1; 
transition: all 2s ease-in;
}

ul.triangles li{
list-style:none;
left:10px;
bottom: -250px;
display:block;
width: 0; 
opacity: 0.7;
height: 0; 
border-left: 50px solid transparent; 
border-right: 50px solid transparent;
border-bottom: 50px solid $bg-golden;
animation: bubble 10s linear infinite;
 }

 ul.triangles li:nth-child(1)
 {
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent;
    border-bottom: 100px solid $bg-coral;
    opacity: 0.7;
    animation-delay: 0s; 
    position: absolute;
    left:20%;
 }

 ul.triangles li:nth-child(2)
 {
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent;
    border-bottom: 100px solid $bg-pink;
    opacity: 0.3;
    animation-delay: 2s; 
    position: absolute;
    left:80%;
 }
 ul.triangles li:nth-child(4)
 {
    border-left: 50px solid transparent; 
    border-right: 50px  solid transparent;
    border-bottom: 50px  solid $bg-coolBlue;
    opacity: 0.3;
    animation-delay: 5s; 
    position: absolute;
    left:10%;
 }
 ul.triangles li:nth-child(5)
 {
    border-left: 50px solid transparent; 
    border-right: 50px  solid transparent;
    border-bottom: 50px  solid $bg-yellow;
    opacity: 0.3;
    animation-delay: 3s; 
    position: absolute;
    left:50%;
 }
 .triangles li:nth-child(4)
 {
    border-left: 60px solid transparent; 
    border-right: 60px  solid transparent;
    border-bottom: 60px  solid $bg-linear-right;
    opacity: 0.6;
    animation-delay: 5s; 
    position: absolute;
    left:40%;
 }
 .triangles li:nth-child(4)
 {
    border-left: 50px solid transparent; 
    border-right: 50px  solid transparent;
    border-bottom: 50px  solid $bg-yellow;
    opacity: 0.3;
    animation-delay: 4s; 
    position: absolute;
    left:30%;
 }

 @keyframes bubble
 {
     from
     {
         transform :translateY(10) rotate(0);
         opacity: 1;
     }
     to
     {
        transform :translateY(-1000px) rotate(720deg);
         opacity: 0.4; 
     }
 }

.wrapper {
  width: 70rem;
  max-width: calc(100% - 7rem);
  margin: 0 auto;
  padding: 2.5rem 2rem;
  z-index: 13;
  &.bordered-top {
      border-top: 5px solid $brand-primary;
     
  }
  background: $fg;
  color:  $fg-light-bg;
  @media ($small) {
    width: 90em;
    text-align: center;
    max-width: calc(100% - 2rem);
	}

}

.sk-heroImage
{
  
  width: auto;
  max-width: calc(100% - 7rem);
  margin: 0 auto;
  height: 500px;;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  //align-items: start;
  justify-content: center;
 
 
}
// .gradient-skew-down
// {
//   position: absolute;
//     content: "";
//     width: 100%;
//     height: 500px;
//     z-index: -1000;
//     background:  $background-linear;
//     -webkit-transform-origin: right bottom;
//     transform-origin: right bottom;    
//     top: 40%;
//     left: 0;
//     transform: skewY(8deg);    

//     &.alt
//     {
//       -webkit-transform-origin: left bottom;
//       transform-origin: left bottom;   
//       transform: skewY(8deg);    
//       top: 70%;
//     left: 0;
//     }
// }
.gradientBackground
{
  background: $background-linear;  
  color: $fg;
}
.pull-top
{
  position: relative;
  margin-top: -14em;
}
.center
{
  margin: 0 auto;
}
.sk-Jumbotron {
  opacity: 0.9;
  // background: url(/images/header.jpg);
//background: #ad5389;  /* fallback for old browsers */

//position: relative;
 height: 80vh;
 padding: 3rem;
 display: flex;
 flex-direction: column;
 //align-items: start;
 justify-content: center;
 background-size: cover;
 background-repeat: no-repeat;
  }
  .skew
  {
    position: relative;
  
  }
  .skewAlt
  {
    position: relative;
  }
  .skew:before, .skewAlt:after
  {
    content:'';
    height: 100px;
    width:50%;
    position: absolute;
    top:-48px;
    left:0;
    border-top: 5px solid $brand-primary;
    background: $bg;
    transform: skewY(8deg);    
   

  }
  .skewAlt:after
  {
    transform: skewY(-8deg);  
    border-bottom: 5px solid $brand-primary; 
    border-top: 0px solid $brand-primary; 
  }
  .skew:after,.skewAlt:before
  {
    content:'';
    height:100px;
    width:50%;
    position: absolute;
    top:-48px;
    right:0;
    background: $bg;
    transform: skewY(-8deg); 
    border-top: 5px solid $brand-primary; 
  }
  .skewAlt:before
  {
    transform: skewY(8deg);   
    border-bottom: 5px solid $brand-primary; 
    border-top: 0px solid $brand-primary; 
   
  }
  .sk-Jumbotron h1 {
    font-size: 4rem;
    margin-bottom: 0;
   
  }
  
  .sk-Jumbotron p {
    font-size: 1.3rem;
    margin-top: 0;
   
  }
  

  // section
  // {
  //   position: relative;
  // }

 

.header 
{
    border-bottom: solid 2px $brand-primary;
    display: inline-block;
    margin: 0 0 0.8em;
    padding: 0 0 0.8em;
}
.grid
{
  display: grid;
  grid-template-columns: 60% auto;
  @media ($small) {
    //grid-template-columns: 1fr;
    grid-template-rows: 1fr;

	}
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;  
  height: 400px;
  width:100%;
  top:0;
}
.sticky img{
  width:100%;
  height: 100%;
  top:0;
  bottom:0;
}


.verticle-line {
    background-color: $brand-primary;
    position:relative;
    top:50%;
    left:50%;
    height:90px;
    width:2px;
    // transform: translate(-50%,-50%);
  }
  // .verticle-line:before{
    
  //   content:'';
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(transparent,$brand-primary, transparent);
  //   animation: animate 2s linear infinite;

  // }
  
  // @keyframes animate
  // {
  //   0%
  //   {
  //     transform-origin: top;
  //     transform: scaleY(0);
  //   }
  //   50%
  //   {
  //     transform-origin: top;
  //     transform: scaleY(1);
  //   }
  //  51%
  //   {
  //     transform-origin: bottom;
  //     transform: scaleY(1);
  //   }
  //   100%
  //   {
  //     transform-origin: bottom;
  //     transform: scaleY(0);
  //   }
  // }
    
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
