.wrapper {
  width: 80rem;
  max-width: calc(100% - 7rem);
  margin: 0 auto;
  padding: 2.5rem 2rem;
  z-index: 13;
  &.bordered-top {
      border-top: 5px solid $brand-primary;
     
  }
  background: $fg;
  color:  $fg-light-bg;
}

.sk-heroImage
{
  background: linear-gradient( rgba(201, 75, 75, 0.5), rgba(75, 19, 79, 0.5)),url("images/header.jpg");
  // background-image: url("/images/header.jpg");
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  //align-items: start;
  justify-content: center;
  background-repeat: no-repeat;
  color: $fg;
  opacity: 0.9;
}
.gradient-skew-down
{
  background: $background-linear;
  transform: skewY(2deg)
}
.gradientBackground
{

background: $background-linear;
}
.pull-top
{
  position: relative;
  margin-top: -14em;
}
.center
{
  margin: 0 auto;
}
.sk-Jumbotron {
  opacity: 0.9;
  // background: url(/images/header.jpg);
//background: #ad5389;  /* fallback for old browsers */
 background: linear-gradient( rgba(201, 75, 75, 0.5), rgba(75, 19, 79, 0.5)),url("../images/header2.jpg");
color: $fg;
//position: relative;
 height: 80vh;
 padding: 3rem;
 display: flex;
 flex-direction: column;
 //align-items: start;
 justify-content: center;
 background-size: cover;
 background-repeat: no-repeat;
  }
  .skew
  {
    position: relative;
  
  }
  .skew:before
  {
    content:'';
    height: 100px;
    width:50%;
    position: absolute;
    top:-48px;
    left:0;
    background: $bg;
    transform: skewY(8deg);    
   

  }
  .skew:after
  {
    content:'';
    height: 100px;
    width:50%;
    position: absolute;
    top:-48px;
    right:0;
    background: $bg;
    transform: skewY(-8deg);  
  }
  .sk-Jumbotron h1 {
    font-size: 4rem;
    margin-bottom: 0;
   
  }
  
  .sk-Jumbotron p {
    font-size: 1.3rem;
    margin-top: 0;
   
  }
  





.verticle-line {
    background-color: $brand-primary;
    position:relative;
    top:50%;
    left:50%;
    height:80px;
    width:2px;
    // transform: translate(-50%,-50%);
  }
  // .verticle-line:before{
    
  //   content:'';
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(transparent,$brand-primary, transparent);
  //   animation: animate 2s linear infinite;

  // }
  
  // @keyframes animate
  // {
  //   0%
  //   {
  //     transform-origin: top;
  //     transform: scaleY(0);
  //   }
  //   50%
  //   {
  //     transform-origin: top;
  //     transform: scaleY(1);
  //   }
  //  51%
  //   {
  //     transform-origin: bottom;
  //     transform: scaleY(1);
  //   }
  //   100%
  //   {
  //     transform-origin: bottom;
  //     transform: scaleY(0);
  //   }
  // }
    
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
