---
layout: default
---

<Section id="what">
<div class="wrapper box-shadow-large bordered-top">
     <div class="pure-g  align-center "> 
         <div class="pure-u-1 "> 
             <h2 class="text-primary">{{page.title}}</h2> 
         <p>{{ page.why }}</p>>
            </div></div>

</div>
</Section>
<div class="verticle-line"> </div>

<Section id="WhyAugust">
<div class="wrapper box-shadow-large bordered-top">
        <div class="pure-g  align-center "> 
            <div class="pure-u-1 "> 
                <h2 class="text-primary ">Why August?</h2> 
                 <h4>{{content}} </h4>
               </div></div>
   
   </div>
</Section>

   

<div class="verticle-line"> </div>


   <Section id="Pricing">
        <div class="wrapper bordered-top">
                <div class="pure-g  "> 
                    <div class="pure-u-1  align-center  "> 
                        <h2 class="text-primary header">Pricing</h2> </div>
                  
                                  <div class="pure-u-1 align-center ">
                                 
                                    {% for p in page.pricepackage %}

                                    <div class=" pure-u-md-1-3">
                                            <div class="rotated-box coolBlue"></div>
                                          <div class="price-table ">                                                                                       
                                              <div class="price-header pricing-table-header">
                                                <h3 class=""> <b>{{ p.Package_Name }}</b> </h3>
                                                <span class="pricing-table-price">
                                                        Rs {{p.price}} <span>per month</span>
                                                </span>
                                              </div>
                                               <div class="price-content">
                                                <ul class="pricing-table-list  text-align-left">                        
                                                {% for feature in p.availablefeatures %}
                                                  <li>{{ feature}}</li>
                                                  {% endfor %}
                                                
                                                </ul>  
                                                <a class=" pure-button button buttonOutline-{{page.fg-color}}" href="{{site.baseurl}}#enquiry">Choose</a>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    {% endfor %}
                                </div>
                                  </div>
                               
                            
           
           </div>
        </div>
        </Section>
           
           <div class="verticle-line"> </div>